body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top:50%;
}

/* .page-header {
  margin-top: 2%;
  margin-left:2%;
  margin-right:2%;
  border: 2px solid black;
  border-radius: 7px 7px 7px 7px;
  background-color: #47B99C;
}

.header-text {
  padding-top:1%;
  padding-left:15%;
}

.logged-in {
  text-align: right;
  margin-right: 10%;
}

.logged-in-user-email {
  margin-left: 1%;
  margin-right: 2%;
  font-size: 18px;
} */

.text-to-speech-component {
  border: 2px solid black;
  border-radius: 7px 7px 7px 7px;
  padding-top: 2%;
  display:inline-block;
  text-align:center;
  width:100%;
}

.text-to-speech-form {
  left:12.5%;
}

.conversion-list-item-icon:hover{
  cursor: pointer;
  right:100%;
}

.conversion-list-item-header {
  text-align:center;
}
.conversion-list-item-description {
  text-align:center;
}
.conversion-list-item-content {
  text-align:center;
}

.conversion-list-item-delete-button{
  background-color:red;
  text-align:right;
}
